<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MusicFlow API</title>

    <meta name="description" content="MusicFlow API" />
    <meta name="nofoobar.com" content="Nofoobar">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/styles.css" />
    <!-- <link rel="stylesheet"  href="{{ url_for('static', path='/styles.css') }}"> -->

</head>

<body>
    <!-- menu -->
    {% include "components/navbar.html" %} {% block content %} {% endblock %}
    <!-- content from other html files -->

    <main>
        {% block layout_base %} {% endblock %}
    </main>

    <!-- footer -->
    {% include "components/footer.html" %} {% block footer %} {% endblock %}

</body>

</html>