* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6
}

html,
body {
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    font-weight: 330;
    background-color:#FCEDDA;
    /* Peach , Burnt Orange #EE4E34 */


}

html {
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em
}


/* this applies for web version, when the screen width is larger than 600 px */

@media (min-width: 600px) {
    html {
        font-size: 1.5em;
    }
}

body {
    -webkit-text-size-adjust: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #353535;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal
}

a {
    color: #4a9ae1;
    text-decoration: none
}

blockquote {
    border-left: 0.25rem solid #e5e5e5;
    color: #979797;
    margin: .8rem 0;
    padding: .5rem 1rem
}

blockquote p:last-child {
    margin-bottom: 0
}

@media (min-width: 600px) {
    blockquote {
        padding: 0 5rem 0 1.25rem
    }
}


/* TODO: the image is not perfectly aligned with the text below */

img {
    display: block;
    margin: auto;
    max-width: 100%;
    justify-self: center;
}

.rounded img {
    object-fit: cover;
    border-radius: 50%;
}


/* p.menusomething a>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
} */


/* .circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    display: inline-block;
    vertical-align: middle;
} */


/* .circular_image img {
    width: 100%;
    display: block;
} */

td {
    vertical-align: top
}

pre,
code {
    font-family: Menlo, Monaco, monospace
}

code {
    background-color: #f9f9f9;
    border-radius: 3px;
    color: #bf616a;
    font-size: 85%;
    padding: .25em .5em
}

pre {
    margin: 0 0 1rem
}

pre code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0
}

.highlight {
    background-color: #f9f9f9;
    border-radius: 3px;
    line-height: 1.4;
    margin: 0 0 1rem;
    padding: 1rem
}

.highlight pre {
    margin-bottom: 0;
    overflow-x: auto
}

.highlight .lineno {
    color: #aaa;
    display: inline-block;
    padding: 0 .75rem 0 .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.css .o,
.css .o+.nt,
.css .nt+.nt {
    color: #999
}



.container {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
}

.container-bottom {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    margin-bottom: 25px;
}

.container-image {
    margin: 40px auto;
    max-width: 800px;
    width: 100%;
}

.container-audio {
    margin: 40px auto;
    max-width: 800px;
    width: 100%;
}

/* main, */

main,
footer,
.nav-container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%
}
.navbar {
    text-decoration: underline
}

.nav {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    overflow: auto;
    font-size: .6rem;
}

.nav-container {
    margin: 1rem auto 0 auto;
    position: relative;
    text-align: center
}

.nav-container .logo {
    display: inline-table
}

.nav-container .logo img {
    float: left;
    height: 50px;
    margin-right: 10px
}

.nav-container .logo h2 {
    line-height: 50px
}

.nav-title {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    display: inline-block;
    margin: 0;
    padding-right: .2rem
}

.nav-title:hover,
.nav-title:focus {
    opacity: .6
}

.nav ul {
    list-style-type: none;
    margin: 0rem 0 0;
    padding: 0;
    text-align: center;
    line-height: 50px
}

.nav ul.menu {
    text-transform: uppercase;
    margin: 0;
    top: 0
}

.nav li {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0
}

.nav li:last-child {
    padding-right: 0
}

.nav li:hover,
.nav li:focus {
    opacity: 1
}

.nav a {
    color: rgba(0, 0, 0, 0.8);
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif
}

@media (min-width: 600px) {
    .nav-container {
        text-align: left
    }

    .nav ul {
        bottom: 0;
        position: absolute;
        right: 0
    }
}

footer {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    padding: 2rem 0;
    text-align: center
}

footer span {
    color: #353535;
    font-size: .66rem;
    opacity: .6
}

.pagination {
    border-top: 0.5px solid #e5e5e5;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    padding-top: 2rem;
    position: relative;
    text-align: center
}

.pagination span {
    color: #353535;
    font-size: .6rem
}

.pagination .top {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: rgba(0, 0, 0, 0.8);
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    opacity: .6
}

.pagination .top:hover {
    opacity: 1
}

.pagination .arrow {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: rgba(0, 0, 0, 0.8);
    position: absolute
}

.pagination .arrow:hover,
.pagination .arrow:focus {
    opacity: .6;
    text-decoration: none
}

.pagination .left {
    left: 0
}

.pagination .right {
    right: 0
}

.catalogue-item {
    font-size: 0.7rem;
    border-bottom: 1px solid #e5e5e5;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 2rem 0
}

.catalogue-item:hover .catalogue-line,
.catalogue-item:focus .catalogue-line {
    width: 5rem
}

.catalogue-item:last-child {
    border: 0
}

.catalogue-time {
    color: #aaa;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    font-size: .6rem;
    letter-spacing: .5px
}

.catalogue-title {
    color: #353535;
    display: block;
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin: .5rem 0
}

.catalogue-line {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-top: 0.05rem solid #353535;
    display: block;
    width: 2rem
}

.text-justify {
    /* black satz */
    text-align: justify;
}


/* img.rounded {
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    left: 0
} */


/* .catalogue-line {
    border-top: 0.05rem solid red;
} */