<div class="container-fluid my-5 mx-5" style="height: 18em;" id="songForm">

    <h3 class="text-left display-5">Let's predict the number of streams for a song</h3>

    <div class="text-danger font-weight-bold">
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </div>


    <h4 class="text-left display-7">Choose a song!</h4>



    <form id="myForm" action="/search_song" method="POST" hx-boost="true" hx-trigger="submit" hx-swap="outerHTML"
        hx-target="#songForm">

        <div class="mb-3">
            <input type="text" required placeholder="Choose an artist e.g Queen" name="artist" value="{{artist}}"
                class="form-control">
        </div>

        <div class="mb-3">
            <input type="text" required placeholder="Choose a song e.g Don't stop me now" name="song" value="{{song}}"
                class="form-control">
        </div>

        <div class="class text-center">
            <button type="submit" hx-trigger="submit">Search</button>
            <!-- <button type="submit" hx-trigger="click" hx-get="/success_endpoint" hx-target="#songForm"
                hx-swap="innerHTML">Search</button> -->
        </div>


    </form>

    <!-- <div hx-target="#songForm" hx-trigger="submit" hx-swap="innerHTML"></div> -->


</div>
