<!-- <h2 class="text-center display-7">{{header}}</h2> -->




<h3 class="text-left display-5">{{header}}</h3>
<hr style="border-bottom: 1px solid #888">

<p class="fw-bold display-6">{{prediction["message"]["text"]}} {{prediction["message"]["emoji"]}}</p>


<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of streams: {{prediction["prediction"]}}
    </li>

    {% for key, value in prediction["song_metadata"].items() %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{key}}: {{ value }}
    </li>
    {% endfor %}
</ul>


{% if prediction["preview_url"] is not none %}
<div class="container-audio">
    <audio controls>
        <source src={{prediction["preview_url"]}} />
    </audio>
</div>
{% endif %}

<div class="class text-center">
    <a href="/"><button type="submit">Try it again!</button></a>

</div>
