<h1 class="text-left display-6">{{header}}</h1>
<h3 class="text-left display-7">{{prediction["message"]["text"]}} {{prediction["message"]["emoji"]}}</h3>


<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Number of streams: {{prediction["prediction"]}}
    </li>

    {% for key, value in prediction["song_metadata"].items() %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{key}}: {{ value }}
    </li>
    {% endfor %}
</ul>


{% if prediction["preview_url"] is not none %}
<div class="container-audio">
    <audio controls>
        <source src={{prediction["preview_url"]}} />
    </audio>
</div>
{% endif %}

<div class="text-center my-2">
    <a href="/"><button type="submit">Try it again!</button></a>
</div>
