<div class="container-fluid my-5 mx-5" style="height: 18em;" id="songOutput">


    <!-- <h2 class="text-center display-7">{{header}}</h2> -->
    <h3 class="text-left display-5">{{header}}</h3>

    <hr style="border-bottom: 1px solid #888">

    Number of streams: {{prediction["prediction"]}}
    Message: {{prediction["message"]["text"]}} {{prediction["message"]["emoji"]}}

    <!-- <h4 class="text-left display-10">{{prediction["features"]}}</h4> -->





    {% for key, value in prediction["song_metadata"].items() %}
    {{key}}: {{ value }}
    {% endfor %}


    {% if prediction["preview_url"] is not none %}
    <div class="container-audio">
        <audio controls>
            <source src={{prediction["preview_url"]}} />
        </audio>
    </div>
    {% endif %}

    <div class="class text-center">
        <a href="/"><button type="submit">Try it again!</button></a>

    </div>



</div>
