{% extends "shared/base.html" %} {% block layout_base %}
<div class="container">
    <div class="row">
        <div class="text-danger font-weight-bold">
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </div>
    </div>

    <div class="row my-5">


        <h2 class="text-left display-7">{{header}}</h2>


        <h4 class="text-left display-10">{{prediction["description"]}}: {{prediction["prediction"]}}</h4>

        <h4 class="text-left display-10">{{prediction["message"]["text"]}} {{prediction["message"]["emoji"]}}</h4>

        <div class="text-left display-20"></div>

        <a href="/form">
            <button type="submit" class="btn btn-primary">Do it again!</button>
        </a>



        <!-- <div class="container">

            <div class="container">
                {% for key, value in prediction.items() %}
                <div class="container">
                    {{key}} -- {{value}}
                </div>

                {% endfor %}
            </div>
        </div> -->

    </div>
    {% endblock %}
