{% extends "shared/base.html" %} {% block layout_base %}
<div class="container">
    <div class="row">
        <div class="text-danger font-weight-bold">
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </div>
    </div>

    <div class="row my-5">

        <h2 class="text-left display-7">{{header}}</h2>
        <h4 class="text-left display-10">Number of streams: {{prediction["prediction"]}}</h4>
        <h4 class="text-left display-10">{{prediction["message"]["text"]}} {{prediction["message"]["emoji"]}}</h4>

        {% if prediction["preview_url"] is not none %}
        <div class="container-audio">
            <audio controls>
                <source src={{prediction["preview_url"]}} />
            </audio>
        </div>
        {% endif %}

        <a href="/form">
            <button type="submit" class="btn btn-primary">Do it again!</button>
        </a>

    </div>
    {% endblock %}